/* Company Colors */
.bg-swp-gradient-blue {
    background: linear-gradient(to right, #1e40af, #3b82f6);
}

.bg-swp-gradient-green {
    background: linear-gradient(to right, #166534, #22c55e);
}

.bg-swp-gradient-red {
    background: linear-gradient(to right, #991b1b, #ef4444);
}

.bg-swp-gradient-yellow {
    background: linear-gradient(to right, #854d0e, #eab308);
}

.bg-swp-gradient-purple {
    background: linear-gradient(to right, #6b21a8, #a855f7);
}

.bg-swp-gradient-pink {
    background: linear-gradient(to right, #9d174d, #ec4899);
}

/* Table Row Colors */
.bg-swp-table-row-1-blue {
    background-color: #dbeafe;
}

.bg-swp-table-row-2-blue {
    background-color: #eff6ff;
}

.bg-swp-table-row-1-green {
    background-color: #dcfce7;
}

.bg-swp-table-row-2-green {
    background-color: #f0fdf4;
}

.bg-swp-table-row-1-red {
    background-color: #fee2e2;
}

.bg-swp-table-row-2-red {
    background-color: #fef2f2;
}

.bg-swp-table-row-1-yellow {
    background-color: #fef9c3;
}

.bg-swp-table-row-2-yellow {
    background-color: #fefce8;
}

.bg-swp-table-row-1-purple {
    background-color: #f3e8ff;
}

.bg-swp-table-row-2-purple {
    background-color: #faf5ff;
}

.bg-swp-table-row-1-pink {
    background-color: #fce7f3;
}

.bg-swp-table-row-2-pink {
    background-color: #fdf2f8;
}

/* Table Border Colors */
.bg-swp-table-border-blue {
    border-color: #3b82f6;
}

.bg-swp-table-border-green {
    border-color: #22c55e;
}

.bg-swp-table-border-red {
    border-color: #ef4444;
}

.bg-swp-table-border-yellow {
    border-color: #eab308;
}

.bg-swp-table-border-purple {
    border-color: #a855f7;
}

.bg-swp-table-border-pink {
    border-color: #ec4899;
} 